.container{
    width:100%;
    border-radius:75px;
    overflow: hidden;
    background:white;
    height:150px;
    box-sizing: border-box;
    border:0;
    box-shadow:0 3px 23px rgba(32,75,160, .23);
    position: relative;
    color:#2B3D60;
}

.error{
    color:#F0423B;
}
.error::after{
    content: '';
    display: block;
    width:80px;
    height:80px;
    position: absolute;
    left:40px;
    top: 0;
    bottom: 0;
    margin:auto 0;
    background-image: url('../../Assets/img/error-icon.svg');
    background-repeat: no-repeat;
    z-index: 50;
}

.input{
    z-index: 10;
    position: relative;
    width:100%;
    border-radius:75px;
    background:white;
    height:100%;
    box-sizing: border-box;
    padding:20px 50px;
    border:0;
    font-size:52px;
    color:inherit;
    text-align: center;
}

.input::placeholder{
    font-size:52px;
    color:#ABB2C0;
}


