.errorIcon{

}
.title{
  font-size:60px;
  color:white;
  margin:80px 0 30px 0;
}
.description{
  color:white;
  font-size: 40px;
  text-align: center;
}
.paperIcon{
  margin:100px 0 50px 0;
}
.button{

}