.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;

  > *{
    width:calc(50% - 20px);
  }
}


.result{
  $padding : 50px;
  background-color: white;
  border-radius: 26px;
  box-shadow: 0 3px 13px rgba(#204BA0, .03);
  font-size: 24px !important;
  color:#2B3D60;
  box-sizing: border-box;
  padding: $padding;
  margin-bottom: 50px;

  .header{
    padding-bottom:$padding;
    border-bottom:1px solid #204BA0;

    > :first-child{
      margin-bottom: 7/10 * $padding;
    }
  }

  .body{
    border-bottom:1px solid #204BA0;
    padding: $padding 0;

    table{
      width: 100%;
      direction: ltr;
      text-align: left;
      color:#2B3D60 !important;

      thead{
        font-size: 18px;
      }
      tbody{
        font-size: 24px;
      }
      th{
        padding-bottom:7/10 * $padding;
      }
      td{
        padding:4/10 * $padding 0;
      }
      td:nth-child(2){
        direction: ltr;
        span{
          width:40px;
          display: inline-block;
        }
      }
    }
  }

  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:$padding;
  }
  .footerText{
    color:#2B3D60;
    font-size: 20px;
  }
  .footerLogo{
    margin-top:2 * $padding;
  }

  .light{
    font-weight: lighter;
  }
  .pair{
    display: flex;
    align-items: center;

    > span{
      font-weight: lighter;
      margin-left:10px;
    }
  }
}