.button{
    border:0;
    border-radius:20px;
    height:130px;
    box-sizing: border-box;
    padding: 0 100px;
    font-size:47px;
    color:#2B3D60;
    position: relative;
    overflow: hidden;
}

.ripple{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: rgba(255, 255, 255, .5);
    transform: translateX(-110%) skewX(-30deg);
    filter: blur(10px);
}
.rippleTransition{
    transition: transform .4s;
}
.rippleActive{
    transform: translateX(101%);
}




.default{

}
.success{
    color:white;
    background: #12DB9D;
}
.blue{
    color:white;
    background: #1B79DB;
}

.button:disabled{
    opacity:.8;
}




/*.ripple {*/
/*    background-position: center;*/
/*    transition: background 0.4s;*/
/*}*/
/*.ripple:hover {*/
/*    background: rgba(255,255,255,0) radial-gradient(circle, transparent 1%, #47a7f5 1%) center / 15000%;*/
/*}*/
/*.ripple:active {*/
/*    background-color: white;*/
/*    background-size: 100%;*/
/*    transition: background 0s;*/
/*}*/