.container{
    background: linear-gradient(140deg, #1B79DB, #49C1F5);
    width:100%;
    border-radius:20px;
    padding:50px;
    margin-bottom:30px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.messages{
    margin-right:50px;
}

.title{
    font-size:60px;
    color:white;
}