.container{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:200px;
}
.errorIcon{

}
.title{
  color:white;
  font-size: 60px;
  text-align: center;
  margin:100px 0 30px 0;
}
.description{
  margin-bottom: 100px;
  color:white;
  font-size: 40px;
  text-align: center;
}