.container{
    display: flex;
    padding:30px;
}

.icon{
    width:140px;
}

.messages{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right:30px;
    justify-content: center;
}
.title{
    font-size:50px;
    margin-bottom:10px;
    color:#2B3D60;
}

.description{
    font-size:24px;
    color:#6E7B93;
}