.container{
    box-sizing:border-box;
    height:140px;
    display: flex;
    align-items: center;
    padding:0 30px;
}

.icon{
    width:90px;
    margin-left:30px;
}
.arrowIcon{
    justify-self: flex-end;
    margin-right:auto;
}
.body{

}

.title{
    font-size:30px;
    color:#2B3D60;
}
