.description{
    display: flex;
    justify-content: center;
    width:100%;
    color:white;
    text-align: center;
    margin-top:20px;
    font-size: 32px;
}



.card{
    margin:50px 0 20px 0;
    text-align: center;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addresses{
    margin-bottom:60px;
}
.addresses > p{
    margin-bottom:25px;
    font-size:27px;
}

.socialNetworks{
    width:max-content;
}
.socialNetworks > div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom:25px;
    font-size:27px;
}
.socialNetworks > div:last-child{
    margin-bottom:0;
}
.socialNetworks > div > img{
    /*width:24px;*/
    margin-right:14px;
}