.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:650px;
}

.row{
    width:100%;
    display: flex;
    justify-content: space-around;
    /*background: red;*/
    margin-bottom:70px;
}

.numericButton{
    background: transparent;
    border:2px solid white;
    border-radius:50%;
    width: 170px;
    height: 170px;
    font-size:66px;
    color:white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:70px;
}
.row > .numericButton:last-child{
    margin-left:0;
}


.lastRow {
    display: flex;
    justify-content: flex-start;
    /*background: red;*/
    width:100%;
}

.escapeButton{
    background: transparent;
    border:0;
    width: 170px;
    height: 170px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:70px;
    border-radius:50%;
}

.ripple {
    background-position: center;
    transition: background 0.4s;
}
.ripple:hover {
    background: rgba(255,255,255,0) radial-gradient(circle, transparent 1%, #47a7f5 1%) center / 15000%;
}
.ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
}