.title{
    font-size:50px;
    color:white;
    width:100%;
}

.description{
    margin-top:50px;
    margin-bottom:150px;
    color:white;
    font-size:32px;
}

.smsCard, .printCard{
    padding:50px;
}

.printCard{
    margin-top:40px;
    width:100%;
}