.card{
    width:calc(50% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:30px;
}

.icon{
    margin-bottom:40px;
}

.title{
    font-size:30px;
    color:#2B3D60;
}