.container{
    width:100%;
    height:100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(323deg, #1B79DB, #49C1F5);
    overflow: auto;
    display: flex;
    flex-direction: column;
}