.container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:10px 0;
    box-shadow: 0 3px 26px rgba(32, 75, 160, .2);
    background: white;
    border-radius:20px;
    overflow: hidden;

    transform: translateY(70px);
}
.input{
    width: calc(100% - 105px);
    border:0;
    box-sizing: border-box;
    padding: 10px 0 10px 20px;
    height:140px;
    font-size:30px;
    /*background: blue;*/
}
.input::placeholder{
    color:#ABB2C0;
}
.icon{
    width:50px;
    /*background: red;*/
    padding: 28px;
}