.container{
    text-align: center;
}

.title{
    font-size:60px;
    color:white;
    margin-top:150px;
    margin-bottom:50px;
}

.description{
    color:white;
    font-size:40px;
    margin-bottom:300px;
}
