.headerDescription{
  color:white;
  font-size: 32px;
  text-align: center;
  position: relative;
  top:-20px;
  padding-bottom:40px;
}

.textarea{
  width:100%;
  height: 300px;
  margin-top:30px;
  border:1px solid #204BA0;
  border-radius: 10px;
  padding:50px;
  font-size: 32px;
  color:#204BA0;
  font-weight:lighter;
  box-sizing: border-box;
}
