.title{
  font-size: 50px;
  font-weight:bold;
  color:white;
  padding:50px 0 150px 0;
}

.cards{
  position: relative;

  > *{
    position: absolute;
  }
}

.progressContainer{
  padding:40px 0;
}
.progress{
  width:100%;
  height:18px;
  background-color: rgba(white, .3);
  border-radius: 18px;
  position: relative;
  margin-bottom:20px;

  > span{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    display: block;
    height: 100%;
    background-color: white;
  }
}
.progressNumber{
  color:white;
  font-size: 32px;
}


.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.next, .previous{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(white, .3);
  cursor: pointer;
}
.next{
  margin-right:-130px;
  > svg{
    margin-left:-100px;
  }
}
.previous{
  margin-left:-130px;
  > svg{
    margin-right: -100px;
  }
}