.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
  margin-top:-90px;
}
.title{
  margin-top:40px;
  color:white;
  font-size: 42px;
  text-align: center;
}
.description{
  text-align: center;
  color:white;
  font-size: 31px;
}