.title{
  color:white;
  font-size: 60px;
  margin:50px 0 0 0;
}
.successIcon{

}
.qrcodeIcon{
  margin:100px 0;
}
.cost{
  width:100%;
  border-radius:20px;
  background-color: #12DB9D;
  height: 164px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 50px;
  box-sizing: border-box;

  > span{
    font-size: 40px;
  }
  > div{
    display: flex;
    align-items: center;
    font-size: 42px;
    font-weight: lighter;

    > span{
      margin-left:20px;
      font-weight: normal;
      font-size: 52px;
    }
  }
}