.headerTop{
    padding-top:30px;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:120px;
}

.logo{
    display: flex;
    margin-right:30px;
    align-items: center;
}
.logo > img{

}
.logo > div{
    display: flex;
    flex-direction: column;
    margin-right : 20px;
    color:white;
}
.logo > div > :first-child{
    margin-bottom:10px;
    font-size:20px;
    opacity: .9;
}
.logo > div > :last-child{
    font-weight: bold;
    font-size:25px;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:max-content;
    padding:25px 40px;
    background: rgba(255,255,255,.3);
    border:0;
    color:white;
    font-size:26px;
    border-radius:0 45px 45px 0;
    box-shadow : 0 13px 33px 0 rgba(32, 75, 160, .33);
}
.buttonIcon{
    margin-left: 15px;
    width:40px;
}