$size : 60px;
.container{
  background-color: white;
  border-radius: 46px;
  padding:50px;
  box-shadow: 0 3px 13px rgba(#204BA0, .03);
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container:nth-child(1){
  z-index: 30;
  opacity: 1;
  width: calc(100% - #{ 2 * $size });
  margin:0 $size;
  height:100%;
}
.container:nth-child(2){
  z-index: 20;
  width: calc(100% - #{ $size });
  height: calc(100% - #{ $size });
  margin: $size / 2;
  background-color: #A0D5F6;
  opacity: 1;
}
.container:nth-child(3){
  z-index: 10;
  width: calc(100%);
  opacity: .3;
  margin: $size 0;
  height: calc(100% - #{ 2 * $size });
}

.number{
  width: 98px;
  height: 98px;
  border-radius: 50%;
  background-color: #ECEFF7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  color: #2B3D60;
}

.question{
  color:#2B3D60;
  font-size: 42px;
  margin:20px 0;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  button{
    width : calc(50% - 10px);
    font-size: 47px;
    color:#1B2B4A;
    border-radius: 20px;
    border:0;
    margin-bottom: 20px;
    height:130px;
  }

  button:nth-child(1){
    background-color: #BDF2D5;
  }
  button:nth-child(2){
    background-color: #D9F4B3;
  }
  button:nth-child(3){
    background-color: #FFF2BC;
  }
  button:nth-child(4){
    background-color: #FFD5D5;
  }
}

