.container{
    position: fixed;
    right: 0;
    left: 0;
    background: #E7ECF4;
    box-sizing: border-box;
    padding:30px 50px 10px 50px;
    bottom: -800px;
    visibility: hidden;
    opacity: 0;
    transition: bottom .4s ease-out, opacity .4s;
}
.open{
    opacity: 1;
    visibility: visible;
    bottom: 0;
}