.row{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-bottom:20px;
}
.oneToLastRow{
    padding:0 46px !important;
    box-sizing: border-box;
}

.charButton{
    width:93px !important;
    height:139px;
    padding:0 !important;
    background: white;
    color:#204BA0;
    box-shadow:4px 4px 1px rgba(32, 75, 160, .15);
}

.escapeButton{
    width:93px;
    height:139px;
    padding:0 !important;
    background: white;
    color:#204BA0;
    box-shadow:4px 4px 1px rgba(32, 75, 160, .15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.escapeButton svg{
    width:60px;
}
.escapeButton path, .escapeButton line{
    stroke: #204BA0;
}

.lastRow{

}
.lastRow > button{
    width:25%;
    height:139px;
    padding:0 !important;
    color:#204BA0;
    box-shadow:4px 4px 1px rgba(32, 75, 160, .15);
}
.spaceButton{
    width:43% !important;
    background: white;
}
.changeLangButton{
    background: white;
}
.searchButton{
    color:white !important;
}



.ripple {
    background-position: center;
    transition: background 0.4s;
}
.ripple:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) center / 15000%;
}
.ripple:active {
    background-color: #47a7f5;
    background-size: 100%;
    transition: background 0s;
}