.texts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top:100px;
}
.title{
  color:white;
  font-size: 60px;
  margin-bottom:40px;
}
.description{
  color:white;
  font-size: 40px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkoutIcon {
  margin-right:-80px;
}
.arrowIcon{
  transform:rotate(-90deg);
  position: absolute;
  right: 100px;
}

.costCard{
  margin:180px 0;
  padding:0 50px;
  box-sizing: border-box;
  width:100%;
  background-color: white;
  height: 164px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 10px 50px rgba(#204BA0, .23);

  > span{
    font-size: 30px;
  }
  > div {
    font-size: 42px;
    span{
      font-size: 52px;
      margin-left:10px;
    }
  }
}