@font-face {
  font-family: iransans;
  src: url('./iransans/eot/IRANSansWeb(FaNum).eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum).eot') format('embedded-opentype'),
  url('./iransans/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),
  url('./iransans/woff/IRANSansWeb(FaNum).woff') format('woff'),
  url('./iransans/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: iransans;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_UltraLight.eot') format('embedded-opentype'),
  url('./iransans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),
  url('./iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),
  url('./iransans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: iransans;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Medium.eot') format('embedded-opentype'),
  url('./iransans/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
  url('./iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
  url('./iransans/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: iransans;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Light.eot') format('embedded-opentype'),
  url('./iransans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
  url('./iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),
  url('./iransans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: iransans;
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('./iransans/eot/IRANSansWeb(FaNum)_Bold.eot') format('embedded-opentype'),
  url('./iransans/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
  url('./iransans/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
  url('./iransans/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
  font-weight: bold;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, button, input, *{
  direction: rtl;
  font-size:16px;
  font-family: iransans;
}
body{
  background: #F5F7FD;
}
*{
  line-height: 1.5 !important;
}
a{
  text-decoration: none;
}
button:focus, input:focus{
    outline:none;
}

.container{
    width:calc(100% - 200px);
    margin:0 100px;
}

.card{
  background: white;
  border-radius:20px;
  box-shadow:0 3px 13px rgba(32, 75, 160, .3);
  box-sizing:border-box;
  padding:10px;
}
.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-center{
  align-items: center;
}

.header-title{
  display: flex;
  justify-content: center;
  color:white;
  font-size:50px;
}

.padding-50{
  padding:50px !important;
}

.no-outline:focus{
  outline: none;
}