.title{
  color:white;
  font-size: 60px;
  text-align: center;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:50px;
}
.day{
  width: calc(30% - 20px);
}
.month{
  width: calc(30% - 20px);
}
.year{
  width:40%;
}

.keyboard{
  margin:100px 0;
}