.input{
  > span{
    margin-bottom:30px;
    display: block;
    text-align: center;
    color:white;
    font-size: 40px;
  }
}

.gender{
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio{
  //background-color: red;
  padding:90px;
  font-size: 60px;
  color:white;
  display: inline-flex;
  align-items: center;

  &.active > span::after{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
  }

  > span{
    position: relative;
    margin-left:40px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border:2px solid white;
    border-radius: 50%;
  }
}