.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  margin-bottom: 200px;
}
.icon{
  margin-bottom:50px;
}
.title{
  font-size:80px;
  color:white;
  margin:30px 0;
  font-weight: bold;
  text-align:center;
}
.description{
  font-size:50px;
  color:white;
  text-align: center;
}