.selectBox{
  width:100%;
  height: 125px;
  border:1px solid #204BA0;
  border-radius: 10px;
  padding:0 50px;
  font-size: 32px;
  color:#204BA0;
  font-weight:lighter;
}
.selectBox > option{
  width:100%;
  height: 125px;
  padding:0 20px;
  font-size: 32px;
  color:#204BA0;
  font-weight:lighter;
}